/* 默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5vh;
    background-color: rgba(0, 0, 0, 0.1)
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    height: 100vh;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    line-height: 1.7vh;
    font-size: 2vh;
}

/* 整体布局 */
.neteasemusic {
    /* border: 1px solid red; */
    margin: auto;
    width: 150vh;
    height: 90vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.7);
    transition: all ease 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* top-bar */
.top-bar {
    height: 8vh;
    position: relative;
    background-color: #ba2025;
}

.top-bar .button {
    position: absolute;
    top: 0.5vh;
    left: 5vh;
    width: 2vh;
    height: 2vh;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    background: #f6be4f;
}

.top-bar .button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -3.3vh;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: #ed6b60;
}

.top-bar .button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -3.3vh;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: #62c655;
}

.top-bar .logo {
    position: absolute;
    bottom: 0.2vh;
    left: 2vh;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5vh;
    width: 25vh;
    /* border: 1px solid green; */
}

.top-bar .profile {
    position: absolute;
    right: 1vh;
    bottom: 2vh;
    color: #eeeeee;
}

.top-bar .profile li {
    float: left;
    margin-right: 3vh;
    line-height: 1.5;
    font-size: 2.5vh;
}

.top-bar .profile li .iconfont {
    display: inline-block;
    padding-right: 1vh;
}


.interaction {
    display: flex;
}
/* interaction - aside-bar*/
.interaction .aside-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30vh;
    height: 82vh;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.interaction .aside-bar .song-list {
    height: 69vh;
    font-size: 2vh;
    overflow: auto;
    border-right: 0.1vh solid #c8c8c8;
}


.interaction .aside-bar .song-list ul {
    margin-right: 0;
}

.interaction .aside-bar .song-list li {
    position: relative;
    padding: 1.5vh 1.5vh 1.5vh 5vh;
    cursor: pointer;
}

.interaction .aside-bar .song-list li:nth-child(even) {
    background-color: white;
}

.interaction .aside-bar .song-list li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.interaction .aside-bar .song-list li p.song {
    font-size: 2vh;
    margin-left: 1vh;
}

.interaction .aside-bar .song-list li p.singer {
    color: #494949;
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 1.5vh;
}

.interaction .aside-bar .song-list li p.singer .iconfont {
    padding-right: 0.5vh;
    font-weight: bolder;
    font-size: 1.5vh;
}

.interaction .aside-bar .song-list li.active {
    background: rgba(0, 0, 0, 0.2);
}

.interaction .aside-bar .song-list li.active::before {
    position: absolute;
    top: calc(50% - 3vh);
    left: 0;
    content: '';
    display: block;
    width: 0.6vh;
    height: 6vh;
    background-color: #ba2502;
}

.interaction .aside-bar .song-list li::after {
    position: absolute;
    width: 3vh;
    height: 3vh;
    content: '';
    display: block;
    top: calc(50% - 1.5vh);
    left: 2vh;
    background-size: contain;
    background-position: center;
    background-image: url('../img/music.png');
    background-repeat: no-repeat;
}

.interaction .aside-bar .uploadArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    color: #333333;
    border-right: 0.2vh solid #c8c8c8;
    border-top: 0.2vh solid #ddd;
    flex-grow: 1;
    border-radius: 0 0 0 1vh;
    transition: all ease 0.1s;
    font-size: 2.3vh;
}

.interaction .aside-bar .uploadArea .draggable:hover {
    cursor: pointer;
}

.interaction .aside-bar .uploadArea .iconfont {
    margin-right: 0.1vh;
}

.interaction .dashboard {
    flex-grow: 1;
    background-color: #fafafa;
}
/* innteraction - dashboard */
.interaction .dashboard{
    width: 100vh;
    height: 50vh
}
/* interaction - dashboard - welcome-page */
.interaction .dashboard .welcome-page{
    margin: 11vh auto;
    width: 100vh;
    height: 50vh;
}

.interaction .dashboard .welcome-page .swiper-container {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* padding: 0; */
    z-index: 1;
}

.interaction .dashbord .welcome-page .swiper-wrapper {
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}


.interaction .dashboard .welcome-page .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    /* position: absolute; */
}

.interaction .dashboard .welcome-page .swiper-slide:nth-child(1) {
    background-image: url("../img/1.jpg");
    /* transition-duration: 300ms; */
    /* transform: translate3d(0, 0, 0) */
}

.interaction .dashboard .welcome-page .swiper-slide:nth-child(2) {
    background-image: url("../img/2.jpg");
    /* transition-duration: 300ms; */
    /* transform: translate3d(-100vh, 0, 0) */
}

.interaction .dashboard .welcome-page .swiper-slide:nth-child(3) {
    background-image: url("../img/3.jpg");
    /* transition-duration: 300ms; */
    /* transform: translate3d(-200vh,0,0) */
}

.interaction .dashboard .welcome-page .welcome-info{
    padding: 6vh 0;
    font-size: 4vh;
    color: #ba2502;
    text-align: center;
}
.interaction .dashboard .welcome-page .welcome-info .iconfont{
    font-size: 4vh;
}

/* interaction dashboard info-page */
.interaction .dashboard .info-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.interaction .dashboard .info-page .show-area{
    border: 1px solid red;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    padding: .1vh 4vh .1vh;
    width: 80vh;
    border-radius: 2vh;
    box-shadow: 0 0 0.5vh 0 rgba(0,0,0,0.2)
}
.interaction .dashboard .info-page .show-area label{
    padding: 3vh 1vh 0.6vh;
    text-align: left;
    cursor: default;
}
.interaction .dashboard .info-page .show-area input{
    padding:0 2vh;
    height: 6vh;
    font-size: 2vh;
    color: #333333;
    border: .2vh solid #bbb;
    border-radius: 1vh;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08)
}

.interaction .dashboard .info-page .show-area textarea{
    padding: 2vh;
    font-size: 2vh;
    resize: none;
    border: .2vh solid #bbbbbb;
    border-radius: 1vh;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08)
}
.interaction .dashboard .info-page .show-area .button-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2vh 0 2vh;
}
.interaction .dashboard .info-page .show-area .button-wrapper .delete{
    color: #eeeeee;
    background-color: #ba2502;
    padding: 2vh 0;
    width: 30vh;
    line-height: 3vh;
    font-size: 3vh;
    text-align: center;
    border: .2vh solid #ba2502;
    border-radius: 1vh;
    cursor: pointer;
}
.interaction .dashboard .info-page .show-area .button-wrapper .confirm{
    color: #ba2502;
    transition: all ease .3s;
    padding: 2vh 0;
    width: 30vh;
    line-height: 3vh;
    font-size: 3vh;
    text-align: center;
    border: .2vh solid #ba2502;
    border-radius: 1vh;
    cursor: pointer;
}

/* interaction dashboard edit-page */
.interaction .dashboard .edit-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.interaction .dashboard .edit-page .show-area{
    border: 1px solid red;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    padding: .1vh 4vh .1vh;
    width: 80vh;
    border-radius: 2vh;
    box-shadow: 0 0 0.5vh 0 rgba(0,0,0,0.2)
}
.interaction .dashboard .edit-page label{
    padding: 3vh 1vh 0.6vh;
    text-align: left;
    cursor: default;
}
.interaction .dashboard .edit-page input{
    padding:0 2vh;
    height: 6vh;
    font-size: 2vh;
    color: #333333;
    border: .2vh solid #bbb;
    border-radius: 1vh;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08)
}

.interaction .dashboard .edit-page textarea{
    padding: 2vh;
    font-size: 2vh;
    resize: none;
    border: .2vh solid #bbbbbb;
    border-radius: 1vh;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08)
} 
.interaction .dashboard .edit-page .button-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2vh 0 2vh;
}
.interaction .dashboard .edit-page .button-wrapper .confirm{
    color: #eeeeee;
    background-color: #ba2502;
    padding: .5vh 0;
    width: 30vh;
    line-height: 3vh;
    font-size: 2vh;
    text-align: center;
    border: .1vh solid #ba2502;
    border-radius: 1vh;
    cursor: pointer;
}
.interaction .dashboard .hide{
    display: none;
}